.places h1
{
    float: left;
    font-size: 30px;
    padding-left: 15px;
}

.places article
{
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: inline-block;
}

.places1
{
    top: 60px;
    left: -80px;
}

.places2
{
    top: -77px;
    left: 500px;
}

.places3
{
    top: 60px;
    right: 211px;
}

.places h2
{
    font-size: 30px;
    text-align: center;
    margin-top: -5px;
}

.price_by_night
{
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    position: absolute;
    top: 5px;
    right: 19px;
    line-height: 58px;
    text-align: center;
}

.information
{
    height: 80px;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    vertical-align: middle;
}

.information .max_guest
{
    width: 100px;
    background-image: url(icons/icon_group.png) no-repeat;
    margin: auto;
    padding: 40px 0px;
    position: relative;
    left: 5px;
    top: 10px;
    line-height: 30px;
    background-position-x: 15px;
}

.information .number_rooms
{
    width: 100px;
    background-image: url(icons/icon_bed.png) no-repeat;
    margin: auto;
    padding: 40px 0px;
    position: relative;
    left: 5px;
    top: 10px;
    line-height: 30px;
    background-position-x: 15px;
}

.information .number_bathrooms
{
    width: 100px;
    background-image: url(icons/icon_bath.png) no-repeat;
    margin: auto;
    padding: 40px 0px;
    position: relative;
    left: 38px;
    top: 103px;
    line-height: 30px;
    background-position-x: 15px;
}